.about,.work,.education,.skills,.portfolio,.contact{
	padding:6em 0;
}
h3.title {
    font-size: 4em;
    text-align: center;
    color: #008B8B;
    border-bottom: 4px double rgba(247, 197, 106, 0.35);
    padding-bottom: 0.2em;
	margin-bottom: 1em;
}
p {
    font-size: 1em;
    color: #999;
    line-height: 1.8em;
}
.about-right {
    padding-left: 5em;
}
.about-right ul {
    border: 3px double #008B8B;
    padding: 1em 2em;
}
.about-right h5 {
    font-size: 2em;
    text-align: center;
    color: #008B8B;
}
.about-right ul li {
    display: block;
    color: #999;
    margin: 1em 0;
	font-size:1em;
}
.about-right ul li span.glyphicon {
    font-size: 0.8em;
	margin-right: 6px;
}